# Copy this file to .env and fill in the values.

# symfony/framework-bundle
APP_ENV=prod
APP_SECRET=672c2bd3e2e4016e29b8470c2f359807 #CHANGE ME
APP_SHARE_DIR=var/share
KERNEL_CLASS='App\Kernel'
# symfony/framework-bundle

# symfony/routing
DEFAULT_URI=http://localhost
# symfony/routing

# Network Ports
SPINESCOUT_HTTP_PORT=9092
#

# Host path for the on-disk cover cache.
SPINESCOUT_COVER_CACHE_DIR=./book-covers
#Download Path = (Default Mapped To /var/www/html/library)
SPINESCOUT_DOWNLOAD_DIR=./downloads

# doctrine/doctrine-bundle #
POSTGRES_VERSION=16
POSTGRES_DB=app #CHANGE ME
POSTGRES_USER=app #CHANGE ME
POSTGRES_PASSWORD=ChangeMe! #CHANGE ME
#Database URL Built From Above Values
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@database:5432/${POSTGRES_DB}?serverVersion=${POSTGRES_VERSION}&charset=utf8"
# doctrine/doctrine-bundle #

# symfony/messenger
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
# symfony/messenger
