{% extends 'settings/_layout.html.twig' %}

{% block settings_body %}
    <h2 class="panel-title">General</h2>
    <p class="panel-empty">General settings will land here: instance name, default request quotas, notification preferences.</p>
{% endblock %}
