{% extends 'settings/_layout.html.twig' %}

{% block settings_body %}
    <div class="panel-header">
        <h2 class="panel-title">General</h2>
        <p class="panel-sub">
            Instance-wide preferences. More general settings (instance name, request
            quotas, notifications) will land here over time.
        </p>
    </div>

    <form method="post" action="{{ path('settings_general') }}" class="settings-form" novalidate>
        <input type="hidden" name="_token" value="{{ csrf_token('settings_general') }}">

        <fieldset class="settings-fieldset">
            <legend>Metadata</legend>
            <label class="field-checkbox">
                <input type="checkbox" name="overwrite_metadata" value="1" {{ overwrite_metadata ? 'checked' : '' }}>
                <span>Overwrite metadata with Spine Scout info</span>
            </label>
        </fieldset>

        <fieldset class="settings-fieldset">
            <legend>Requests</legend>
            <label class="field-checkbox">
                <input type="checkbox" name="auto_approve_requests" value="1" {{ auto_approve_requests ? 'checked' : '' }}>
                <span>Enable automatic book approval for all requested books</span>
            </label>
        </fieldset>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Save settings</button>
        </div>
    </form>
{% endblock %}
